/* algemeen */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body {
 margin: 0;
}

.container {
 font-family: 'Open Sans', sans-serif;
}

h1, h2 {
 position: relative;
 font-weight: 100;
}

::-webkit-scrollbar {
 width: 8px;
 height: 8px;
}

/* selection */
::selection {
 background: #D83F87;
 color: #A4B3B6;
}

/* scrollbar */
::-webkit-scrollbar-button {
 width: 1px;
 height: 1px;
}

::-webkit-scrollbar-thumb {
 background: #e1e1e1;
 border: 16px none #ffffff;
 border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
 background: #bdbdbd;
}

::-webkit-scrollbar-thumb:active {
 background: #999999;
}

::-webkit-scrollbar-track {
 background: #666666;
 border: 28px none #ffffff;
 border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
 background: #666666;
}

::-webkit-scrollbar-track:active {
 background: #333333;
}

::-webkit-scrollbar-corner {
 background: transparent;
}

body {
 scroll-behavior: smooth;
}

/* landing page */
.landing-page {
 height: 100vh;
 background: #44318D;
}

.svg {
 width: 540px;
 position: absolute;
 right: 60%;
 top: auto;
 bottom: 33%;
}

.title-cont {
 margin: 6% 0 0 12.6%;
 color: #A4B3B6;
 font-size: 115%;
}

.title-1 {
 display: inline-block;
 color: #44318D;
 font-size: 300%;
 margin: auto 0 0 auto;
}

.title-2 {
 display: inline-block;
 margin: auto 0 0 auto;
}

.col-md {
 width: 140px;
 height: 5px;
 background: #44318D;
 margin: 2px 0 0 0;
 position: relative;
 border-radius: 2px;
}

.subtitle-1 {
 margin: 0;
}


/* navbar */

.navbar {
 text-align: center;
 padding: 12px;
}

.navbar a {
 text-decoration: none;
 color: #A4B3B6;
 transition: all 0.45s ease-in-out;
}

.navbar a:hover {
 color: #D83F87;
}

.home-cont {
 border-right: 2px solid #FFF;
 display: inline-block;
}

.home {
 display: inline-block;
 padding: 0 12px 0 0;
}

.nav-item {
 padding: 0 0 0 8px;
} 

/* <button><button/> naar boven */

.btn-top {
 background: #D83F87;
 position: fixed;
 right: 1.2em;
 bottom: 1.2em;
 display: none;
 width: 48px;
 height: 48px;
 margin: 0;
 padding: 0 1.2em;
 border: 1px solid #44318D;
 border-radius: 2px;
 text-transform: capitalize;
 line-height: 44px;
}

.arrow {
 position: absolute;
 top: 50%;
 left: 50%;
 width: 18px;
 height: 18px;
 margin-left: -9px;
 margin-top: -5px;
 cursor: pointer;
}

.up:hover polyline, .up:focus polyline {
 stroke-width: 15;
}

.up:active polyline {
 stroke-width: 15;
 transition: all 100ms ease-in-out;
}

/* contact opnemen ding */

.contact-cont {
 height: 100vh;
 background: #44318D;
}

.title-cont2 {
 color: #A4B3B6;
 text-align: center;
}

.title-c1 {
 margin: 0;
}



footer {
 text-align: center;
 font-family: 'Open Sans', sans-serif;
}

footer a {
 text-decoration: none;
 color: #666666;
}

footer a:hover {
 font-size: 18px;
 color: #D83F87
}

p {
 margin: 0;
}